.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: minmax(min-content, 6rem) 1fr minmax(min-content, 4rem);
}

%heading {
    font-family: "Roboto", "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 1;
    letter-spacing: 3px;
}

.heading {
    &-1 {
        @extend %heading;
        font-size: 4rem;
    }

    &-2 {
        @extend %heading;
        font-size: 3rem;
    }

    &-3 {
        @extend %heading;
        font-size: 2.5rem;
    }

    &-4 {
        @extend %heading;
        font-size: 2rem;
    }

    &--modal {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
}

.form {
    max-width: 60rem;
    width: 80%;
    padding: 3rem;
    padding-bottom: 2rem;
    margin-top: 3rem;
    box-shadow: 0 1rem 4rem var(--shadow-secondary);
    background-color: var(--color-secondary-light);
    border-radius: 0.8rem;

    &__group {
        width: 100%;
        padding: 0.5rem 1rem;
        position: relative;

        &:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__input {
        display: block;
        width: 100%;
        padding: 0.8rem 1.6rem;
        font-size: inherit;
        font-family: inherit;
        color: inherit;
        background-color: var(--color-white);
        border: 3px solid transparent;
        border-radius: 4px;

        &:focus {
            outline: none;
            border-bottom: 3px solid var(--color-primary);
        }

        &:invalid,
        .invalid {
            color: var(--color-red);
            border-color: var(--color-red);
        }
    }

    &__label {
        font-size: 1.2rem;
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(2.5rem, -0.5rem);
        padding: 0 0.5rem;
        background-color: var(--color-primary);
        color: var(--color-white);
    }
}

.btn {
    font-size: inherit;
    font-family: inherit;
    background-color: var(--color-white);
    color: var(--color-black);
    border: 3px solid transparent;
    border-radius: 4px;
    padding: 0.8rem 1.6rem;
    margin: 0.5rem;
    transition: all 0.3s ease;
    cursor: pointer;

    &:not(:disabled):hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
    }

    &:not(:disabled):active {
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }

    &:focus {
        outline: none;
    }

    &:disabled {
        // color: var(--color-grey-dark);
        // background-color: var(--color-grey);
        cursor: not-allowed;
    }

    &__form {
        width: 100%;
        margin: 0;
        text-transform: uppercase;
        color: var(--color-white);
        background-color: var(--color-primary);
    }
}

.section-create {
    display: flex;
    justify-content: center;
    align-items: center;
}
