.dropdown {
    font-size: inherit;
    font-family: inherit;
    text-transform: uppercase;
    color: var(--color-white);
    padding: 0.5rem 1rem;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    cursor: pointer;
    position: relative;

    &:hover {
        color: var(--color-secondary-light);
    }

    &.active {
        color: var(--color-secondary-light);
    }

    &__list {
        list-style: none;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        padding: 1rem;
        color: var(--color-white);
        background-color: var(--color-secondary);
        box-shadow: 0 1rem 2rem var(--shadow-secondary);
        visibility: hidden;
        opacity: 0;
        transition: all 0.3s ease;

        & > li {
            &:not(:last-child) {
                border-bottom: 1px solid var(--color-secondary-light);
            }
        }
    }

    &:hover &__list {
        opacity: 1;
        visibility: visible;
    }

    &:last-child &__list {
        left: auto;
        right: 0;
        transform: translateX(0);
    }
}
